<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<html>
<head>
<title>ASKGeology</title>

<style type="text/css">

#example { width: 50%; }

#example img {
float: center;
margin: 30px 60px;
}

</style>

</head>
<body>

<div id="example">

<img src="/img/logo.jpg" alt="example"></div>

<div id="abigail-s.-knapp-geology-hub" class="section level2">
  
<h2>Abigail S. Knapp’ Geology Hub</h2>

<p>Welcome! I am a hydrogeologist and an active educator in geoscience through outreach and teaching.</p>

<p><a href="/welcome/"><center><b>Enter</b></center></a></p>

</div>

</body>
</html>






