<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<html>
<head>
<title>ASKGeology</title>

<style type="text/css">

#logo img {
float: center;
margin: 30px 60px;
}

body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  align: center;
}
footer {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  size: 6;
  color: #f2f2f2;
}

a:link, a:visited {
  text-decoration: none;
    color: black;
}

</style>

</head>
<center>
<body>

<div id="logo">

<img src="/img/logo.jpg" width="25%" alt="logo"></div>

<div id="abigail-s.-knapp-geology-hub" class="section level2">
  
<h2>Abigail S. Knapp</h2>

<p>Welcome! I am a hydrogeologist and an active <br>educator in geoscience through outreach and teaching.</p><br>

<p><a href="/welcome/"><b>Enter site</b></a></p>

<p><a href="/cv/"><b>Curriculum Vitae</b></a></p><br>

<br>

<a href="https://www.google.com"><img src="/img/icons/git.jpg" width="5%" alt="github"></a>
<a href="https://www.google.com"><img src="/img/icons/twit.jpg" width="5%" alt="twitter"></a>
<a href="https://www.google.com"><img src="/img/icons/in.jpg" width="5%" alt="linkedin"></a>



</div>


</body>

<footer>
  <br><a href="https://www.iconfinder.com/AlfredoCreates">Icons by Alfredo</a>
  <a href="https://creativecommons.org/licenses/by/3.0/">- CC 3.0</a>
  </footer>

</center>
</html>






